body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
}

.navbar {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: yellow;
}

.navbar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.hero {
    background-color: #b3d9f0;
    padding: 50px 20px;
    margin: 0;
}

.projects {
    padding: 20px 20px 50px 20px;
    background-color: #f8f8f8;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    width: 300px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero img,
.project-card img {
    border-radius: 10px;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
